<a href="/people/cadastro">Cadastrar Novo Pessoa</a>
<a href="/people/cadastro_setor">Cadastrar Novo Setor</a>
<a href="/people/cadastro_cargo">Cadastrar Novo Cargo</a>
<br>
{% load static %}
{% if lista %}
	<ul>
	{% for setor in lista %}
		<li>
            <a href="{% url 'detalhar_setor' setor.id %}">{{setor.descricao}}</a>
			<a href="{% url 'editar_setor' setor.id %}">
				<img src="{% static 'editar.png' %}" width="20" height="20">
			</a>

			<a href="{% url 'excluir_setor' setor.id %}">
				<img src="{% static 'excluir.png' %}" width="20" height="20">
			</a>
		</li>
	{% endfor %}
	</ul>

{% else %}
	<p>Não há setor cadastrado</p>
{% endif %}
<a href="javascript:history.back()">Go Back</a>